my-component {
    --primary: #6564DB;
    --surface: #FFB400;
    --secondary: #89D2DC;
}

h1 {
    color: var(--primary);
    margin-bottom: 0;
}

span {
    color: var(--primary);
    border-radius: 3rem;
    background-color: var(--surface);
    padding: 3px 5px 3px 5px;
    margin: 0;
}

p {
    color: var(--secondary);
    font-size: 1.5rem;
}

p::before {
    content: "🐱";
    position: absolute;
    transform: translateX(calc(-100% - 10px));
}

#component-id {
    width: 450px;
    margin: 0 auto;
}