my-component {
    --primary: #6564DB;
    --surface: #FFB400;
    --secondary: #89D2DC;
}

h1 {
    color: var(--primary);
    margin-bottom: 0;
}

span {
    color: var(--primary);
    border-radius: 3rem;
    background-color: var(--surface);
    padding: 3px 5px 3px 5px;
    margin: 0;
}

p {
    color: var(--secondary);
    font-size: 1.5rem;
}

p::before {
    content: "🐱";
    position: absolute;
    transform: translateX(calc(-100% - 10px));
}

#component-id {
    width: 450px;
    margin: 0 auto;
}

.loader-container {
    position: relative;
    height: 4px;
    background-color: var(--surface);
    border-radius: 2px;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.loader {
    position: relative;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary);
    border-radius: 2px;
    animation: loading 2s infinite ease-out;
}

@keyframes loading {
    0% {
        left: -20%;
        width: 20%;
    }

    100% {
        left: 100%;
        width: 100%;
    }
}